*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #fff;
}
#chess_board {
  border: 10px solid #424242;
  width: 500px;
  height: 500px;
  box-shadow: 0 0 40px grey;
}
.row {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.square {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* .square_1:nth-of-type(odd),
.square_3:nth-of-type(odd),
.square_5:nth-of-type(odd),
.square_7:nth-of-type(odd) {
  background-color: #9c9c9c;
}
.square_2:nth-of-type(even),
.square_4:nth-of-type(even),
.square_6:nth-of-type(even),
.square_8:nth-of-type(even) {
  background-color: #9c9c9c;
} */

.black {
  background-color: black;
}

.white {
  background-color: beige;
}
img {
  width: 40px;
  height: 40px;
}